/* 비디오를 16:9 비율로 유지하면서 꽉 차게 만드는 설정 */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}